@use '../variables/variables' as *;

fieldset {
  margin-bottom: 3rem;
}

legend {
  font-size: 108%;
  margin-bottom: 1rem;
}

label {
  font-size: $small-font-size;
  line-height: 2rem;
  min-height: 2.2rem;
  margin-bottom: 0.6rem;
  width: max-content;
}