@use '../variables/variables' as *;
@use '../mixins/mixins' as mixin;

// Accurate columns
// '.column-1' to '.column-24'
// for fractional layout organization
// https://hgrid.io/documentation/layout/accurate-columns/

@for $fraction from 1 through 24 {
  .column-#{$fraction} {
    width: (100% / $fraction) - $column-gutter-width;
  }
}

[class*='column-'] {
  min-width: 0;
  @include mixin.column-padding;
  @include mixin.viewport($stack-point) {
    margin-bottom: $column-gutter-width;
    width: (100% - $column-gutter-width);
  }
}

// Fills up space left by
// other columns on the same row
.column-fill {
  flex-grow: 1;
}

// Controls column widths per breakpoint
// in rows with flex-wrap ('<div class="row f-wrap">')
@each $breakpoint in $breakpoints {
  @include mixin.viewport($breakpoint) {
    @for $fraction from 1 through 24 {
      .#{$breakpoint}-#{$fraction} {
        flex: 0 1 ((100% / $fraction) - $column-gutter-width);
      }
    }
  }
}

// Adds margin-bottom to child elements
// of rows with flex-wrap
.row.f-wrap > * {
  margin-bottom: $column-gutter-width;
}