@use '../variables/variables' as *;
@use '../mixins/mixins' as mixin;
@use 'sass:math';

// Accurate columns
// Always use inside '.row'
// for fractional layout organization
// https://hgrid.io/documentation/layout/accurate-columns/

@for $fraction from 1 through 24 {
  .column-#{$fraction} {
    width: math.div( 100%, $fraction ) - $column-gutter-width;
  }
}

[class^='column-'] {
  min-width: 0;
  @include mixin.column-padding;
  @include mixin.viewport($stack-point) {
    margin-bottom: $column-gutter-width;
    width: (100% - $column-gutter-width);
  }
}

// Fills up space left by
// other columns on the same row

.column-fill {
  flex-grow: 1;
}

// Controls column widths per breakpoint
// in rows with flex-wrap ('<div class="row f-wrap">')

@each $screen in $responsiveBreakpoints {
  @include mixin.viewport($screen) {
    @for $fraction from 1 through 12 {
      .#{$screen}-#{$fraction} {
        flex: 0 1 (math.div( 100%, $fraction ) - $column-gutter-width);
      }
    }
  }
}