@use '../variables/variables' as *;
@use '../mixins/mixins' as mixin;

// Automatic content columns
// Always use inside '.row'
// https://hgrid.io/documentation/layout/automatic-columns/

.column {
  @include mixin.column-padding;
  @include mixin.viewport($stack-point) {
    margin-bottom: $column-gutter-width;
  }
  -ms-flex-preferred-size: 0;
  -ms-flex-positive: 1;
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  min-width: 0;
}
