@use '../variables/variables' as *;
@use '../mixins/mixins' as mixin;
@use 'sass:math';

// Containers

.container { // Full width
  width: 100%;
}

.container-max { // Limited width
  max-width: $container-max-width;
}

.container,
.container-max {

  margin-left: auto;
  margin-right: auto;
  padding-left: $column-gutter-width;
  padding-right: $column-gutter-width;

  @include mixin.viewport(tablet-portrait) {
    padding-left: ($column-gutter-width * 2);
    padding-right: ($column-gutter-width * 2);
  }

  @include mixin.viewport(phone) {
    padding-left: ($column-gutter-width * 2.2);
    padding-right: ($column-gutter-width * 2.2);
  }
}

// Groups and separates rows/content sections
.group {
  margin: $group-margin-bottom;
}

// Rows

// Required wrapper for '.column' and '.column-{x}'
// Stacks columns on viewport setting '$stack-point' and '$custom-stack-point'

.row,
.row-block {
  @include mixin.row-margins;
  @include mixin.viewport($stack-point) {
    display: block;
  }
  display: flex;
  margin-bottom: $column-gutter-width;
}

// For full width block elements without columns
.row-block {
  @include mixin.row-block-padding;
  display: block;
}

// Alternative viewport width
// where column stacking kicks in
.row.custom-stack {

  @if $stack-point > $custom-stack-point {
    @include mixin.viewport($stack-point) {
      display: flex;
    }
  }

  @include mixin.viewport($custom-stack-point) {
    display: block;

    .column,
    [class^='column-'] {
      margin-bottom: $column-gutter-width;
      width: (100% - $column-gutter-width);
    }
  }

}

// Prevent stacking
.row.no-stack {
  @include mixin.viewport($stack-point) {
    display: flex;
    @for $fraction from 1 through 24 {
      .column-#{$fraction} {
        width: math.div( 100%, $fraction ) - $column-gutter-width;
        margin-bottom: 0;
      }
    }
    .column {
      margin-bottom: 0;
    }
  }
}

// Remove margin for .row with flex-wrap
.row.f-wrap {
  margin-bottom: 0;

  // Add margin-bottom to wrapped columns
  > [class^='column-'] {
    margin-bottom: $column-gutter-width;
  }
}