// Containers

.container,
.container-max {

  margin-left: auto;
  margin-right: auto;
  padding-left: $column-gutter-width;
  padding-right: $column-gutter-width;

  @include viewport(tablet-portrait) {
    padding-left: ($column-gutter-width * 2);
    padding-right: ($column-gutter-width * 2);
  }

  @include viewport(phone) {
    padding-left: ($column-gutter-width * 2.2);
    padding-right: ($column-gutter-width * 2.2);
  }
}

// Full width
.container {
  width: 100%;
}

// Limited width
.container-max {
  max-width: $container-max-width;
}

// Groups and separates rows/content sections
.group {
  margin: $group-margin-bottom;
}

// Rows

// Required wrapper for '.column' and '.column-{x}'
// Stacks columns on viewport setting '$stack-point'

// .row is used with columns
// .row-block is used for block elements, without columns
.row,
.row-block {
  @include row-margins;
  @include viewport($stack-point) {
    display: block;
  }
  display: flex;
  margin-bottom: $column-gutter-width;
}

// Row for use without columns
// for full width text and other block elements
.row-block {
  @include row-block-padding;
  display: block;
}

// Alternative viewport width 
// for layout stacking
.row.custom-stack {
  @include viewport($custom-stack-point) {
    display: block;

    & .column,
    [class^='column-'] {
      margin-bottom: $column-gutter-width;
      width: (100% - $column-gutter-width);
    }
  }
}

// Prevent stacking
.row.no-stack {
  @include viewport($stack-point) {
    display: flex;
    @for $fraction from 1 through 24 {
      .column-#{$fraction} {
        width: (100% / $fraction) - $column-gutter-width;
        margin-bottom: 0;
      }
    }
    .column {
      margin-bottom: 0;
    }
  }
}
