@use '../variables/variables' as *;

@if $include-scroll {
  .scroll-auto { // initial css value
    scroll-behavior: auto;
  }

  .scroll-inherit {
    scroll-behavior: inherit;
  }

  .scroll-smooth { // hgrid default (_base.scss)
    scroll-behavior: smooth;
  }

  .scroll-unset {
    scroll-behavior: unset;
  }
}