@use '../variables/variables' as *;

// Manual override from display:block to flex
.flex-force {
  display: flex;
}

// No hover effect
.no-hover {
  &:hover {
    text-decoration: none !important;
    border-bottom: none !important;
  }
  &:before {
    height: 0 !important;
  }
}

// Appearance
// Remove platform-specific styling (input, select + +)

.appearance-none {
  appearance: none;
}