// Manual override from display:block to flex
.flex-force {
  display: flex;
}

// Overflow overrides
// More overflow classes in 'layout/_utilities.scss'
$overflow-values: inherit, initial, unset, visible;

@each $val in $overflow-values {
  .overflow-#{$val} {
    overflow: $val;
  }

  .overflow-x-#{$val} {
    overflow: $val;
  }

  .overflow-y-#{$val} {
    overflow: $val;
  }
}

// No hover effect
.no-hover {
  &:hover {
    text-decoration: none !important;
    border-bottom: none !important;
  }
  &:before {
    height: 0 !important;
  }
}

// Appearance
// Remove platform-specific styling (input, select + +)

.appearance-none {
  appearance: none;
}