@use '../../variables/variables' as *;

// Background attachment
.bg-fixed {
  background-attachment: fixed;
}

.bg-local {
  background-attachment: local;
}

// Background position
$positions: top, bottom, right, left, center;

@each $val in $positions {
    .bg-pos-#{$val} {
      background-position: $val;
    }
}

// Background repeat
$repeats: x, y, space, round, no-repeat;

@each $param in $repeats {
  @if $param == x or $param == y {
    .bg-repeat-#{$param} {
      background-repeat: repeat\-#{$param};
    }
  }
  @else if $param == space or $param == round {
    .bg-repeat-#{$param} {
      background-repeat: $param;
    }
  }
  @else {
    .bg-repeat-none {
      background-repeat: $param;
    }
  }
}

// Background size
.bg-size-cover {
  background-size: cover;
}

.bg-size-contain {
  background-size: contain;
}

// Background color
.bg-light {
  background-color: $bg-light;
}

.bg-dark {
  background-color: $bg-dark;
}

.bg-white {
  background-color: #fff;
}

.bg-black {
  background-color: #000;
}

.bg-gray-lighter {
  background-color: $bg-gray-lighter;
}

.bg-gray-light {
  background-color: $bg-gray-light;
}

.bg-gray {
  background-color: $bg-gray;
}

.bg-gray-dark {
  background-color: $bg-gray-dark;
}

.bg-gray-darker {
  background-color: $bg-gray-darker;
}