@use '../../variables/variables' as *;
@use '../../mixins/mixins' as mixin;

// Lines and borders

hr {
  border: 1px solid $color-gray-light;
  margin-bottom: 3rem;
}

.hairline {
  border-top: 0.5px solid $color-gray-light;
  margin-bottom: 3rem;
}

.hairline-darker {
  border-top: .5px solid $color-gray;
  margin-bottom: 3rem;
}

.border-gray-lighter {
  border: 1px solid $color-gray-lighter;
}

.border-gray-light {
  border: 1px solid $color-gray-light;
}

.border-gray {
  border: 1px solid $color-gray;
}

.border-gray-dark {
  border: 1px solid $color-gray-dark;
}

.border-gray-darker {
  border: 1px solid $color-gray-darker;
}

.border-transparent {
  border: 1px solid transparent;
}

.border-none {
  border: none;
}

// Individual borders
.border-top-lighter {
  border-top: 1px solid $color-gray-lighter;
}

.border-top-lighter-dotted {
  border-top: 1px dotted $color-gray-lighter;
}

.border-top-light {
  border-top: 1px solid $color-gray-light;
}

.border-top-light-dotted {
  border-top: 1px dotted $color-gray-light;
}

.border-top-gray {
  border-top: 1px dotted $color-gray;
}

.border-top-gray-dotted {
  border-top: 1px dotted $color-gray;
}

.border-top-dark {
  border-top: 1px solid $color-gray-dark;
}

.border-top-dark-dotted {
  border-top: 1px dotted $color-gray-dark;
}

.border-top-darker {
  border-top: 1px solid $color-gray-darker;
}

.border-top-darker-dotted {
  border-top: 1px dotted $color-gray-darker;
}

.border-top-none {
  border-top: 0;
}

.border-bottom-lighter {
  border-bottom: 1px solid $color-gray-lighter;
}

.border-bottom-lighter-dotted {
  border-bottom: 1px dotted $color-gray-lighter;
}

.border-bottom-light {
  border-bottom: 1px solid $color-gray-light;
}

.border-bottom-light-dotted {
  border-bottom: 1px dotted $color-gray-light;
}

.border-bottom-gray {
  border-bottom: 1px solid $color-gray;
}

.border-bottom-gray-dotted {
  border-bottom: 1px dotted $color-gray-light;
}

.border-bottom-dark {
  border-bottom: 1px solid $color-gray-dark;
}

.border-bottom-dark-dotted {
  border-bottom: 1px dotted $color-gray-dark;
}

.border-bottom-darker {
  border-bottom: 1px solid $color-gray-darker;
}

.border-bottom-darker-dotted {
  border-bottom: 1px dotted $color-gray-darker;
}

.border-bottom-none {
  border-bottom: 0;
}

.border-right-lighter {
  border-right: 1px solid $color-gray-lighter;
}

.border-right-lighter-dotted {
  border-right: 1px dotted $color-gray-lighter;
}
.border-right-light {
  border-right: 1px solid $color-gray-light;
}

.border-right-light-dotted {
  border-right: 1px dotted $color-gray-light;
}

.border-right-gray {
  border-right: 1px dotted $color-gray;
}

.border-right-gray-dotted {
  border-right: 1px dotted $color-gray;
}

.border-right-dark {
  border-right: 1px solid $color-gray-dark;
}

.border-right-dark-dotted {
  border-right: 1px dotted $color-gray-dark;
}

.border-right-darker {
  border-right: 1px solid $color-gray-darker;
}

.border-right-darker-dotted {
  border-right: 1px dotted $color-gray-darker;
}

.border-right-none {
  border-top: 0;
}

.border-left-lighter {
  border-left: 1px solid $color-gray-lighter;
}

.border-left-lighter-dotted {
  border-left: 1px dotted $color-gray-lighter;
}
.border-left-light {
  border-left: 1px solid $color-gray-light;
}

.border-left-light-dotted {
  border-left: 1px dotted $color-gray-light;
}

.border-left-gray {
  border-left: 1px dotted $color-gray;
}

.border-left-gray-dotted {
  border-left: 1px dotted $color-gray;
}

.border-left-dark {
  border-left: 1px solid $color-gray-dark;
}

.border-left-dark-dotted {
  border-left: 1px dotted $color-gray-dark;
}

.border-left-darker {
  border-left: 1px solid $color-gray-darker;
}

.border-left-darker-dotted {
  border-left: 1px dotted $color-gray-darker;
}

.border-left-none {
  border-left: 0;
}

// Border styles
.border-dotted {
  border-style: dotted;
}
.border-dashed {
  border-style: dashed;
}

.border-double {
  border-style: double;
}

.border-groove {
  border-style: groove;
}

.border-ridge {
  border-style: ridge;
}

.border-inset {
  border-style: inset;
}

.border-outset {
  border-style: outset;
}

// Border width
.border-thin {
  border-width: thin;
}

.border-medium {
  border-width: medium;
}

.border-thick {
  border-width: thick;
}

.border-2px {
  border-width: 2px;
}

.border-3px {
  border-width: 3px;
}

.border-4px {
  border-width: 4px;
}

.border-5px {
  border-width: 5px;
}

.border-6px {
  border-width: 6px;
}

.border-10px {
  border-width: 10px;
}

// Remove borders responsively
@each $bp in $breakpoints {
  @include mixin.viewport($bp) {

    .#{$bp}-bn-0 {
      border: none;
    }

    .#{$bp}-bt-0 {
      border-top: 0;
    }

    .#{$bp}-br-0 {
      border-right: 0;
    }

    .#{$bp}-bb-0 {
      border-bottom: 0;
    }

    .#{$bp}-bl-0 {
      border-left: 0;
    }

  }
}

// Text column separator
.col-rule-light {
  column-rule: 1px solid $color-light;
}

.col-rule-dark {
  column-rule: 1px solid $color-dark;
}

.col-rule-gray-lighter {
  column-rule: 1px solid $color-gray-lighter;
}

.col-rule-gray-light {
  column-rule: 1px solid $color-gray-light;
}

.col-rule-gray {
  column-rule: 1px solid $color-gray;
}

.col-rule-gray-dark {
  column-rule: 1px solid $color-gray-dark;
}

.col-rule-gray-darker {
  column-rule: 1px solid $color-gray-darker;
}

// Padding (general)
@for $value from 0 through 15 {
  .padding-#{$value * 10} {
    // Adjust visual diff top/bottom/sides.
    padding: ($value*.8)+rem $value+rem;
  }
}

.padding-5 {
  padding: 0.44rem 0.5rem;
}

// Padding (top) 
@for $value from 0 through 15 {
  .pt-#{$value * 10},
  .padding-top-#{$value * 10} {
    padding-top: $value + rem;
  }
}

// Padding (right side)
@for $value from 0 through 15 {
  .pr-#{$value * 10},
  .padding-right-#{$value * 10} {
    padding-right: $value + rem;
  }
}

// Padding (left side)
@for $value from 0 through 15 {
  .pl-#{$value * 10},
  .padding-left-#{$value * 10} {
    padding-left: $value + rem;
  }
}

// Padding (bottom) 
@for $value from 0 through 15 {
  .pb-#{$value * 10},
  .padding-bottom-#{$value * 10} {
    padding-bottom: $value + rem;
  }
}

// Margin (general)
.margin-5 {
  margin: .5rem;
}

@for $margin from 0 through 15 {
  .margin-#{$margin * 10} {
    margin: $margin + rem;
  }
}

// Margin top
.mt-5,
.margin-top-5 {
  margin-top: .5rem;
}

@for $margin from 0 through 15 {
  .mt-#{$margin * 10},
  .margin-top-#{$margin * 10} {
    margin-top: $margin + rem;
  }
}

// Margin right
.mr-5,
.margin-right-5 {
  margin-right: .5rem;
}

@for $margin from 0 through 15 {
  .mr-#{$margin * 10},
  .margin-right-#{$margin * 10} {
    margin-right: $margin + rem;
  }
}

// Margin bottom
.mb-5,
.margin-bottom-5 {
  margin-bottom: .5rem;
}

@for $margin from 0 through 15 {
  .mb-#{$margin * 10},
  .margin-bottom-#{$margin * 10} {
    margin-bottom: $margin + rem;
  }
}

// Margin left
.ml-5,
.margin-left-5 {
  margin-left: .5rem;
}

@for $margin from 0 through 15 {
  .ml-#{$margin * 10},
  .margin-left-#{$margin * 10} {
    margin-left: $margin + rem;
  }
}

// Margin auto (horizontal)
.margin-0-auto {
  margin: 0 auto;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-right-auto {
  margin-right: auto;
}

// Responsive padding and 
// margin overrides

@each $bp in $responsiveBreakpoints {
  @include mixin.viewport($bp) {
    @for $value from 0 through 15 {

      // Padding (general)
      .#{$bp}-p-#{$value * 10} {
        padding: ($value*.8)+rem $value+rem;
      }

      // Top
      .#{$bp}-pt-#{$value * 10} {
        padding-top: $value + rem;
      }

      // Right
      .#{$bp}-pr-#{$value * 10} {
        padding-right: $value + rem;
      }

      // Bottom
      .#{$bp}-pb-#{$value * 10} {
        padding-bottom: $value + rem;
      }

      // Left
      .#{$bp}-pl-#{$value * 10} {
        padding-left: $value + rem;
      }

      // Margin (general)
      .#{$bp}-m-#{$value * 10} {
        margin: $value + rem;
      }

      // Top
      .#{$bp}-mt-#{$value * 10} {
        margin-top: $value + rem;
      }

      // Right
      .#{$bp}-mr-#{$value * 10} {
        margin-right: $value + rem;
      }

      // Bottom
      .#{$bp}-mb-#{$value * 10} {
        margin-bottom: $value + rem;
      }

      // Left
      .#{$bp}-ml-#{$value * 10} {
        margin-left: $value + rem;
      } 
    }

    .#{$bp}-p-5 {
      padding: 0.5rem
    }

    .#{$bp}-pt-5 {
      padding-top: 0.5rem
    }

    .#{$bp}-pr-5 {
      padding-right: 0.5rem
    }

    .#{$bp}-pb-5 {
      padding-bottom: 0.5rem
    }

    .#{$bp}-pl-5 {
      padding-left: 0.5rem
    }

    .#{$bp}-m-5 {
      margin: 0.5rem
    }

    .#{$bp}-mt-5 {
      margin-top: 0.5rem
    }

    .#{$bp}-mr-5 {
      margin-right: 0.5rem
    }

    .#{$bp}-mb-5 {
      margin-bottom: 0.5rem
    }

    .#{$bp}-ml-5 {
      margin-left: 0.5rem
    }
  }
}