// Sass variables are configurable
// with the @use rule in your project
// https://hgrid.io/documentation/integrate/
// https://hgrid.io/documentation/variables/

// Containers

$container-max-width: 1440px !default;
$column-gutter-width: 1.6% !default;
$group-margin-bottom: 0 0 6rem 0 !default;

// Breakpoints

// For most viewports we use @media (max-width: )
$phone:             600px !default;
$phone-landscape:   768px !default;
$tablet-portrait:   900px !default;
$tablet-landscape:  1024px !default;
$laptop:            1280px !default;
$desktop:           1680px !default;

// For the largest viewport we use @media (min-width: )
$desktop-large:     1681px !default;

$breakpoints: // for viewport @mixin
  'desktop-large',
  'desktop',
  'laptop',
  'tablet-landscape',
  'tablet-portrait',
  'phone-landscape',
  'phone' !default;

$responsive-breakpoints:
  // default viewport 'laptop' excluded
  'desktop-large',
  'desktop',
  'tablet-landscape',
  'tablet-portrait',
  'phone-landscape',
  'phone';

$single-viewports: 
  // Array used to generate overrides for specific viewports
  // phone and desktop-large excluded, they're "specific" by default
  phone-landscape,
  tablet-portrait,
  tablet-landscape,
  laptop,
  desktop !default;

$fractions:
  // Array used to generate width and heights
  100,
  90,
  80,
  75,
  70,
  66.666666,
  60,
  50,
  40,
  33.333333,
  30,
  25,
  20,
  10,
  5 !default;

// Stack columns on viewports less than or equal to:
$stack-point: $phone-landscape !default;
$custom-stack-point: $phone !default; // used to override $stack-point

// Misc
$border-radius: 6px !default; // used for '.radius' class
$focus-border-color: #49a7ff75 !default;
$focus-border-weight: 0.3rem !default;

// Theme colors
$theme-color-primary: #66008d !default;
$theme-color-secondary: #9139b4 !default;
$theme-color-tertiary: #c19ad1 !default;

// Generic Colors
$color-light: #fff !default;
$color-dark: #000 !default;
$color-red: #ff0000 !default;
$color-green: #1f6e00 !default;
$color-blue: #003f88 !default;
$color-orange: #e93e00 !default;
$color-gray-lighter: #eee !default;
$color-gray-light: #ccc !default;
$color-gray: #888 !default;
$color-gray-dark: #555 !default;
$color-gray-darker: #333 !default;

// Text Colors
$text-color-primary: $color-dark !default;
$text-color-secondary: $color-gray-darker !default;
$text-color-tertiary: $color-gray-dark !default;
$text-highlight-color: #ffe4c9 !default; // used for <mark> and '.highlight'
$inline-code-color: #620042 !default;
$inline-code-bg: #ffe4c9 !default;
$pre-code-color: #fff !default;
$pre-code-bg: #361c43 !default;

// Background colors
$body-bg: #fff !default;
$transition-bg: $body-bg !default; // for page transition animation
$bg-light: $color-light !default;
$bg-dark: $color-dark !default;
$bg-gray-light: $color-gray-light !default;
$bg-gray-lighter: $color-gray-lighter !default;
$bg-gray: $color-gray !default;
$bg-gray-dark: $color-gray-dark !default;
$bg-gray-darker: $color-gray-darker !default;

// Link colors
$link-color: $theme-color-primary !default;
$link-color-hover: $theme-color-secondary !default;
$link-underline-color: $theme-color-tertiary !default;

// Link settings
$turn-off-link-decoration: false !default;
$use-global-link-underlines: false !default;
$use-article-link-underlines: false !default;
$link-underline-style: solid !default; // dotted, dashed, double, wavy
$link-underline-thickness: 0.2rem !default;
$link-underline-offset: 0.12rem !default;

// Focus style (':focus')
$focus-border-color: #49a7ff75 !default;
$focus-border-weight: 0.3rem !default;

// Grid
$include-grid: true !default; // includes grid partial
$include-grid-responsiveness: true !default; // includes grid media queries
$grid-columns: 12 !default;
$grid-rows: 6 !default;

// Animations
$include-fade: true !default; // includes individual animation partials
$include-flash: true !default;
$include-rotate: true !default;
$include-scroll: true !default;
$include-spinner: true !default;
$include-transition: true !default;

// Typography
$font-base: 62.5% !default; // sets scale: 1rem = 10px
$font-size: 1.6rem !default;
$small-font-size: 83% !default;
$inline-code-size: $small-font-size !default;
$pre-code-size: $small-font-size !default;
$paragraph-margin-bottom: 2rem !default;
$headline-weight: 600 !default;
$font-strong: bold !default;
$font-family:
  ui-sans-serif,
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  Helvetica,
  Arial,
  'Noto Sans',
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji',
  'Segoe UI Emoji' !default;

$font-family-mono:
  ui-monospace,
  SFMono-Regular,
  Consolas,
  'Liberation Mono',
  Menlo,
  monospace !default;