*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/*!
  Reset styles include inspiration from
  https://github.com/sindresorhus/modern-normalize (MIT)
  https://github.com/suitcss/
  https://github.com/tailwindlabs/tailwindcss (MIT)
!*/

/*
  Set a sensible line height in all browsers (1)
  Prevent auto-scaling of text on small screens (2)
  Adjust font-size so 1rem = 10px (3)
*/

html {
  line-height: 1.5; /* 1 */
  text-size-adjust: none; /* 2 */
  -webkit-text-size-adjust: none;
  font-size: $font-base; /* 3 */
  display: block;
}

body {
  background-color: $body-bg;
  display: block;
  font-family: $font-family;
  font-size: $font-size;
  height: 100vh;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/*
Improve system font consistency (1)
Correct 'em' font sizing (all browsers) (2)
Remove line-height (all browsers) (3)
*/

code,
kbd,
samp,
pre {
  font-family: $font-family-mono; /* 1 */
  font-size: 1em; /* 2 */
  line-height: 0; /* 3 */
}

/*
1. Correct height in Firefox.
2. Correct inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Make it visible by default
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  display: block;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span {
  font-size: inherit;
  font-weight: inherit;
}

/*
Add correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

/*
Add correct font weight for Edge and Safari
*/

b,
strong {
  font-weight: bolder;
}

/*
Add correct font size for all browsers
*/

small {
  font-size: 80%;
}

/*
Prevent 'sub' and 'sup' elements from affecting line height (all browsers)
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25rem;
}

sup {
  top: -0.5rem;
}

/*
Opinionated setting for section and image elements
*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

/* 
Constrain images and videos to the parent width and preserve their instrinsic aspect ratio.
*/

img,
video {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* 
Strip styling from linked images
*/ 

a[href$=jpg],
a[href$=jpeg], 
a[href$=jpe], 
a[href$=png], 
a[href$=gif] {
	text-decoration: none !important;
	border: 0 none !important;
}

/*
1) Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: inherit; /* 1 */
  width: 100%;
}

/*
Forms

1. Change the font styles in all browsers
2. Remove the margin in Firefox and Safari
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

textarea {
  resize: vertical;
}

a,
button,
[role=button],
select,
input:not([type=text]) {
  cursor: pointer;
}

input[type=text]{
  cursor: text;
}

/*
Remove the inheritance of text transform in Edge and Firefox
*/

button,
select {
  text-transform: none;
}

input::placeholder,
textarea::placeholder {
  color: #999;
}

/*
Correct the inability to style clickable types in iOS and Safari
Add a few default hgrid styles
*/

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  background-color: $link-color;
  background-image: none;
  border: none;
  color: #fff;
  transition: background-color 0.4s ease;
}

button:hover,
[type=button]:hover,
[type=reset]:hover,
[type=submit]:hover {
  background-color: $link-color-hover;
}

/*
Remove the inner border and padding in Firefox
*/

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/*
Remove the additional ':invalid' styles in Firefox
https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Remove padding so developers are not caught out when they zero out 'fieldset' in all browsers
*/

legend {
  padding: 0;
}

/*
Add correct vertical alignment in Chrome and Firefox
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari
2. Correct the outline style in Safari
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove inner padding in Chrome and Safari on macOS
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari
2. Change font properties in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari
*/

summary {
  display: list-item;
}

/*
 * Firefox/IE bug where the transparent 'button' background
 * results in a loss of the default 'button' focus styles.
 * Also, remove default border
 */

fieldset,
iframe {
  margin: 0;
  padding: 0;
  border: 0;
}

ol,
ul,
menu,
dir {
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
}

blockquote,
q {
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  padding: 0;
  quotes: none;

  &::before,
  &::after {
    content: none;
  }
}/*! End reset */
